snippet <!
	<!-- ${1} --
snippet <!/
	<!-- /${1} --
snippet <!!
	<!-- ${1}
	================================================= 
	--
snippet <!!!
	<!--								${1}
	================================================= 
	--
snippet stt
	<script type="text/template" id="${1}">
		${2}
	</script>	

