snippet pei
	<?php echo $this->icss->get('${1:styleName}'); ?>
snippet <!
	<!-- ${1} --
snippet <!/
	<!-- /${1} --
snippet <!!
	<!-- ${1}
	================================================= 
	--
snippet <!!!
	<!--								${1}
	================================================= 
	--
